---
/**
 * pages/engager-motiver.astro — Engager et motiver
 */
import BaseLayout from '../layouts/BaseLayout.astro';
import HistoireInteractive from "../components/Modal/HistoireInteractive.astro";
import MiniJeu from "../components/Modal/MiniJeu.astro";
import GeoCaching from "../components/Modal/Geocaching.astro";
---

<BaseLayout
  title="Engager et motiver"
  description="Stimulez l'implication et la motivation de vos collaborateurs grâce à la gamification Loooper!."
  ogUrl="https://loooper.fr/engager-motiver"
  currentPage="engager-motiver"
>
 <section class="mainPageTitle mainPageTitlePurple">
            <h1 class="h1 container-width white-border black">Loooper! c’est
                <div class="paterneTitleContainer"><span class="paterneTitle paterneTitleBlue">engager </span><span
                        class="paterneTitleContour">engager </span></div>
                <div class="paterneTitleContainer"><span class="paterneTitle paterneTitleBlue">et </span><span
                        class="paterneTitleContour">et </span></div>
                <div class="paterneTitleContainer"><span class="paterneTitle paterneTitleBlue">motiver</span><span
                        class="paterneTitleContour">motiver</span></div>
            </h1>
        </section>
        <div class="container-width ariane-net h3"><a href="/">Accueil </a>
            <p class="h3">></p> <a href="/besoins/">Vos besoins</a>
            <p class="h3">></p><a href="/engager-motiver/"
                class="end-chield highlight-no-annim blue black-border-small"> Engager et motiver </a>
        </div>

        <div class="large-spacing"></div>


        <section class="container-width text-basical-container">
            <article class="text-basical-container-text-long">
                <div>
                    <h2 class="h2 black white-border">Créer de l’engagement à travers une expérience mémorable
                        interactive ?
                    </h2>
                    <div class="small-medium-spacing"></div>
                    <p>
                        Chez <b>Loooper!</b>, nous croyons que le jeu est un outil efficace pour <b
                            class="highlight orange">motiver, engager et fidéliser</b>. Nous convertissons vos contenus
                        en <b class="highlight purple">une expérience mémorable</b> qui <b>capte l'attention</b> et
                        suscite l'envie d'en <b>découvrir davantage</b>.
                        <b>La gamification</b> offre à votre public la possibilité d'établir <b
                            class="highlight blue">une connexion avec vos produits, services ou communications,</b> afin
                        de <b>dynamiser</b> une communauté, mettre en <b>valeur un produit</b> ou orchestrer <b>un
                            événement</b>.
                    </p>
                </div>
            </article>
            <article class="text-basical-container-emojie">
                <div class="emojie-img-line-container-besoin-child">
                    <div class="emojie-img-line-besoin-child star">
                        <img src="/svg/besoin/starYellowType2.svg" alt="Image representant des étoile">
                    </div>
                    <img class="emojie-img-line-besoin-child" src="/svg/besoin/starPodium.svg"
                        alt="Image representant une etoile sur un podium">
                    <div class="emojie-img-line-besoin-child star2">
                        <img src="/svg/besoin/starYellowType1.svg" alt="Image representant des étoile">
                    </div>
                </div>

            </article>
        </section>

        <div class="large-spacing"></div>

        <div class="backgroundBrushType1">
            <section class="container-width long-card-container">
                <h2 class="h2 black white-border">Les formats qui motivent avec la gamification</h2>
                <div class="small-medium-spacing"></div>
                <div class="long-card-wrapper">
                    <article class="long-card long-card-orange">
                        <img src="/img/long-card/mini-jeu.jpg" alt="image representative d'un Mini-jeu">
                        <div class="long-card-text-content">
                            <div>
                                <h3 class="h2 black white-border highlight-no-annim orange"
                                    id="book-page-part-1-container-title">
                                    Mini-jeu</h3>
                            </div>
                            <p class="black">Captez <b>l’attention</b>, divertissez et <b>dynamisez</b> un site
                                internet, une application ou un support de communication.</p>
                            <button data-modal="modal-mini-jeu" aria-haspopup="dialog"
                                class="text-typo btn-project btn-modal btn-white-background"
                                aria-label="En savoir plus sur les Mini-jeu">
                                <span>En savoir plus</span> </button>
                        </div>
                    </article>

                    <article class="long-card long-card-purple">
                        <img src="/img/long-card/story.jpg" alt="image representative d'une Histoire interactive">
                        <div class="long-card-text-content">
                            <div>
                                <h3 class="h2 black white-border highlight-no-annim purple"
                                    id="book-page-part-1-container-title">
                                    Histoire interactive</h3>
                            </div>
                            <p class="black">Plongez dans <b>un univers narratif immersif</b> et créez <b>une expérience
                                    mémorable</b> à travers vos choix.</p>
                            <button data-modal="modal-histoire-interactive" aria-haspopup="dialog"
                                class="text-typo btn-project btn-modal btn-white-background"
                                aria-label="En savoir plus sur les Histoire interactive">
                                <span>En savoir plus</span> </button>
                        </div>
                    </article>

                    <article class="long-card long-card-blue">
                        <img src="/img/long-card/geocaching.jpg" alt="image representative du Géocaching">
                        <div class="long-card-text-content">
                            <div>
                                <h3 class="h2 black white-border highlight-no-annim blue"
                                    id="book-page-part-1-container-title">
                                    Géocaching</h3>
                            </div>
                            <p class="black">Partez à <b>la découverte</b> d’un lieu, résolvez <b>des énigmes</b> sur le
                                terrain et animez <b>une communauté ou un événement</b>.
                            </p>
                            <button data-modal="modal-geocaching" aria-haspopup="dialog"
                                class="text-typo btn-project btn-modal btn-white-background"
                                aria-label="En savoir plus sur le Géocaching">
                                <span>En savoir plus</span> </button>
                        </div>
                    </article>
                </div>
                <div class="small-medium-spacing"></div>
                <a href="/formats/" class="text-typo btn-project btn-white-background">
                    <span>Découvrir nos autres formats</span>
                </a>
            </section>
        </div>

        <div class="large-spacing"></div>

        <div class="zoom-container-center">
            <div class="zoom-container background-interogation background-interogation-purple">
                <section class="container-width">
                    <h2 class="h2 black">Des questions sur l'engagement par le jeu ?
                    </h2>
                    <div class="small-medium-spacing"></div>
                    <div class="wrapper-faq-container-info">
                        <div class="wrapper-faq-container-info-row">
                            <article class="faq-container-info">
                                <div class="faq-header">
                                    <div>
                                        <div class="faq-arrow faq-arrow-orange">
                                            <div class="faq-arrow-1"></div>
                                            <div class="faq-arrow-2"></div>
                                        </div>
                                    </div>
                                    <h3 class="h3 black">L’engagement par le jeu fonctionne-t-il uniquement sur le court
                                        terme ?
                                    </h3>
                                </div>
                                <p class="black">
                                    <b>Non</b>. Selon vos objectifs, une expérience peut être pensée pour <b>un
                                        événement
                                        ponctuel</b> (lancement de produit, salon, campagne) ou pour <b>un engagement
                                        permanent</b> (plateforme gamifiée, animation communautaire).
                                </p>
                            </article>
                        </div>
                        <div class="wrapper-faq-container-info-row">
                            <article class="faq-container-info">
                                <div class="faq-header">
                                    <div>
                                        <div class="faq-arrow faq-arrow-purple">
                                            <div class="faq-arrow-1"></div>
                                            <div class="faq-arrow-2"></div>
                                        </div>
                                    </div>
                                    <h3 class="h3 black">
                                        Comment la gamification peut-elle créer de la fidélisation ?</h3>
                                </div>
                                <p class="black">
                                    En rendant l’expérience interactive et mémorable, vos publics ressentent <b>une
                                        affection positive</b> envers votre projet. Cela favorise <b>l’attachement</b>
                                    et
                                    encourage <b>la fidélité</b> sur le long terme.
                                </p>
                            </article>
                        </div>
                    </div>
                </section>
            </div>
        </div>

    <HistoireInteractive />
    <MiniJeu />
    <GeoCaching />

    <script src="/js/modal.js" defer></script>
    <script src="/js/faq.js" defer></script>

</BaseLayout>
