---
/**
 * pages/plan-du-site.astro
 */
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Plan du site"
  description="Plan du site Loooper! — retrouvez facilement toutes les pages du site."
  ogUrl="https://loooper.fr/plan-du-site"
  noIndex={true}
>
  <div class="medium-spacing"></div>
  <section class="container-width">
    <article>
      <div class="small-spacing"></div>
      <ul class="spacement-map">
        <li>
          <a href="/" class="text-typo link-underline">Accueil</a>
        </li>
        <li>
          <a href="/formats/" class="text-typo link-underline"
            >Nos formats</a>
        </li>
        <li>
          <a href="/besoins/" class="text-typo link-underline"
            >Vos besoins</a>
        </li>
        <ul class="spacement-map-child">
          <li>
            <a href="/apprendre-ludique/" class="text-typo"
              >Apprendre avec le ludique</a>
          </li>
          <li>
            <a href="/sensibiliser-reflechir/" class="text-typo"
              >Sensibiliser et faire réfléchir</a
            >
          </li>
          <li>
            <a href="/creer-interaction-sociale/" class="text-typo"
              >Créer de l'interaction sociale</a>
          </li>
          <li>
            <a href="/renforcer-cohesion/" class="text-typo"
              >Renforcer la cohésion</a>
          </li>
          <li>
            <a href="/engager-motiver/" class="text-typo"
              >Engager et motiver</a>
          </li>
          <li>
            <a href="/former-efficacement/" class="text-typo"
              >Former efficacement</a>
          </li>
          <li>
            <a href="/communiquer-autrement/" class="text-typo"
              >Communiquer autrement</a>
          </li>
        </ul>
        <li>
          <a href="/equipe/" class="text-typo link-underline"
            >Notre équipe</a>
        </li>
        <li>
          <a href="/projets/" class="text-typo link-underline"
            >Nos projets</a>
        </li>
      </ul>
    </article>
  </section>
</BaseLayout>
