        <div id="modal-coop-cook" class="modal" role="dialog" aria-modal="true" aria-labelledby="modal-coop-cook-title">
            <div class="modal-header">
                <div class="modal-header-null-object"></div>
                <h2 class="h1 black header-modal-tilte">
                    <div class="paterneTitleContainer"><span>Coop’Cook</span><span
                            class="paterneTitleContour">Coop’Cook</span></div>
                </h2><button class="btn-close" aria-label="Fermer">
                    <div class="close-line"></div>
                    <div class="close-line"></div>
                </button>
            </div>

            <div>
                <div class="project-modal modal-container">
                    <h3 id="modal-coop-cook-title" class="h2 black sub-title-modal">Le jeu coopératif pour <span
                            class="highlight-no-annim white-border">Jouer et bien manger !</span> </h3>
                    <div class="modal-container-project">
                        <div class="modal-container-img">
                            <img src="/img/modal/coopCookPresentation.jpg" alt="image du jeu Coop'cook">
                        </div>
                        <div class="modal-container-project-info">
                            <div class="modal-container-text-paragraph">
                                <div class="text-paragraph-emojie"><img src="/svg/modalEmojie/rouage.svg"
                                        alt="Image représentant un rouage">
                                    <p class="black">Jeu multijoueur</p>
                                </div>

                                <div class="text-paragraph-emojie"><img src="/svg/modalEmojie/guy.svg"
                                        alt="Image représentant une personne ">
                                    <p class="black">9 personnes - 2 semaines</p>
                                </div>
                            </div>
                            <div class="modal-container-text-paragraph">
                                <h4 class="h3 black">C'est quoi ?</h4>
                                <p class="black">Un jeu multijoueur de cuisine où chaque joueur doit suivre une recette
                                    avec
                                    l’aide de son coéquipier. Derrière cette épreuve ludique et conviviale se cache une
                                    réflexion sur la nutrition et les alternatives aux recettes traditionnelles.
                                </p>
                            </div>
                            <a href="https://workshop2025-fdg5.onrender.com/"
                                class="text-typo  btn-project btn-white-background" target="_blank">
                                <span>Découvrir le jeu</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>