        <div id="modal-jeu-societe" class="modal" role="dialog" aria-modal="true"
            aria-labelledby="modal-jeu-societe-title">
            <div class="modal-header">
                <div class="modal-header-null-object"></div>
                <h2 class="h1 black header-modal-tilte">
                    <div class="paterneTitleContainer"><span>Jeu de société</span><span class="paterneTitleContour">Jeu
                            de société</span></div>
                </h2><button class="btn-close" aria-label="Fermer">
                    <div class="close-line"></div>
                    <div class="close-line"></div>
                </button>
            </div>

            <div>
                <div class="modal-container modal-blue">

                    <h3 id="modal-jeu-societe" class="h2 black sub-title-modal">À vous de <span
                            class="highlight-no-annim blue white-border">jouer!</span></h3>
                    <div class="modal-container-content">
                        <div class="modal-container-text">
                            <div class="modal-container-text-paragraph">
                                <div class="text-paragraph-emojie"><img src="/svg/modalEmojie/interogation.svg"
                                        alt="Image représentant un point d'interogation">
                                    <h4 class="h3 black">C’est quoi ?</h4>
                                </div>
                                <p class="black">Un jeu de société, c’est un format physique avec <b>des cartes, plateau
                                        ou
                                        pions</b>,
                                    pensé pour créer un moment <b>convivial</b> et <b>engageant</b> autour d’une table.
                                </p>
                            </div>
                            <div class="modal-container-text-paragraph">
                                <div class="text-paragraph-emojie"><img src="/svg/modalEmojie/target.svg"
                                        alt="Image représentant une cible">
                                    <h4 class="h3 black">Pourquoi ?</h4>
                                </div>
                                <p class="black">Ce format capte <b>l’attention</b>, stimule <b>les échanges</b> et
                                    permet d’aborder
                                    un
                                    sujet
                                    de manière <b>ludique</b>. Parfait pour <b>apprendre, sensibiliser ou renforcer la
                                        cohésion</b>
                                    dans
                                    un
                                    cadre accessible et amusant.</p>
                            </div>
                            <div></div>
                        </div>
                        <div class="modal-container-info">
                            <div class="modal-container-text-paragraph">
                                <div class="text-paragraph-emojie"><img src="/svg/modalEmojie/rouage.svg"
                                        alt="Image représentant un rouage">
                                    <h4 class="h3 black">Support</h4>
                                </div>
                                <p class="black">Physique</p>
                            </div>
                            <div class="modal-container-text-paragraph">
                                <div class="text-paragraph-emojie"><img src="/svg/modalEmojie/temps.svg"
                                        alt="Image représentant une horlange">
                                    <h4 class="h3 black">Durée</h4>
                                </div>
                                <p class="black"><b>15 minutes</b> à <b>1 heure</b></p>
                            </div>
                            <div class="modal-container-text-paragraph">
                                <div class="text-paragraph-emojie"><img src="/svg/modalEmojie/guy.svg"
                                        alt="Image représentant une personne">
                                    <h4 class="h3 black">Nombre de participants</h4>
                                </div>
                                <p class="black"><b>2 à 8</b> personnes par jeu</p>
                            </div>
                        </div>
                    </div>
                    <div class="aligne-btn-center">
                        <a href="#contactForm" class="text-typo  btn-project btn-white-background"
                            data-format="jeu_societe">
                            <span>Je crée mon jeu de société</span>
                            <div class="arrow-container black-arrow">
                                <img src="/svg/arrowB.svg" alt="fleche">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
