        <div id="modal-quiz" class="modal" role="dialog" aria-modal="true" aria-labelledby="modal-quiz-title">
            <div class="modal-header">
                <div class="modal-header-null-object"></div>
                <h2 class="h1 black header-modal-tilte">
                    <div class="paterneTitleContainer"><span>Quiz</span><span class="paterneTitleContour">Quiz</span>
                    </div>
                </h2><button class="btn-close" aria-label="Fermer">
                    <div class="close-line"></div>
                    <div class="close-line"></div>
                </button>
            </div>


            <div>
                <div class="modal-container">
                    <h3 id="modal-quiz" class="h2 black sub-title-modal">Qui remportera <span
                            class="highlight-no-annim white-border">la manche ?</span></h3>
                    <div class="modal-container-content">
                        <div class="modal-container-text">
                            <div class="modal-container-text-paragraph">
                                <div class="text-paragraph-emojie"><img src="/svg/modalEmojie/interogation.svg"
                                        alt="Image représentant un point d'interogation">
                                    <h4 class="h3 black">C’est quoi ?</h4>
                                </div>
                                <p class="black">Le quiz, c’est LE jeu universel pour tester <b>ses connaissances en
                                        s’amusant</b>.
                                    Défiez-vous autour d’une série <b>de questions personnalisées</b> sur le sujet de
                                    votre
                                    choix.
                                    <b>Scores, défis, classements…</b> les mécaniques s’adaptent pour <b>captiver</b> et
                                    <b>faire vibrer</b>
                                    votre
                                    public.
                                </p>
                            </div>
                            <div class="modal-container-text-paragraph">
                                <div class="text-paragraph-emojie"><img src="/svg/modalEmojie/target.svg"
                                        alt="Image représentant une cible">
                                    <h4 class="h3 black">Pourquoi ?</h4>
                                </div>
                                <p class="black">Plus qu’un simple jeu, le quiz est <b>une activité fédératrice</b> : il
                                    renforce
                                    <b>la
                                        complicité</b> des participants, encourage <b>la réflexion</b> et permet
                                    <b>d’apprendre
                                        différemment</b>.
                                    Un
                                    outil parfait pour <b>créer du lien</b>, <b>transmettre</b> vos messages et
                                    valoriser <b>vos
                                        contenus.</b>
                                </p>
                            </div>
                            <div></div>
                        </div>
                        <div class="modal-container-info">
                            <div class="modal-container-text-paragraph">
                                <div class="text-paragraph-emojie"><img src="/svg/modalEmojie/rouage.svg"
                                        alt="Image représentant un rouage">
                                    <h4 class="h3 black">Support</h4>
                                </div>
                                <p class="black"><b>Numérique</b> ou <b>hybride</b> avec participants en présentiel</p>
                            </div>
                            <div class="modal-container-text-paragraph">
                                <div class="text-paragraph-emojie"><img src="/svg/modalEmojie/temps.svg"
                                        alt="Image représentant une horlange">
                                    <h4 class="h3 black">Durée</h4>
                                </div>
                                <p class="black"><b>10 à 30 minutes</b></p>
                            </div>
                            <div class="modal-container-text-paragraph">
                                <div class="text-paragraph-emojie"><img src="/svg/modalEmojie/guy.svg"
                                        alt="Image représentant une personne">
                                    <h4 class="h3 black">Nombre de participants</h4>
                                </div>
                                <p class="black"><b>Illimité</b> en digital, <b>2 à 50</b> en présentiel.</p>
                            </div>
                        </div>
                    </div>
                    <div class="aligne-btn-center">
                        <a href="#contactForm" class="text-typo  btn-project btn-white-background" data-format="quiz">
                            <span>Je lance mon quiz</span>
                            <div class="arrow-container black-arrow">
                                <img src="/svg/arrowB.svg" alt="fleche">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>