       <div id="modal-save-seamulator" class="modal" role="dialog" aria-modal="true"
            aria-labelledby="modal-save-seamulator-title">
            <div class="modal-header">
                <div class="modal-header-null-object"></div>
                <h2 class="h1 black header-modal-tilte">
                    <div class="paterneTitleContainer"><span>Save Seamulator</span><span
                            class="paterneTitleContour">Save Seamulator</span></div>
                </h2><button class="btn-close" aria-label="Fermer">
                    <div class="close-line"></div>
                    <div class="close-line"></div>
                </button>
            </div>
            <div>
                <div class="project-modal modal-container">
                    <h3 id="modal-save-seamulator-title" class="h2 black sub-title-modal">Découvrez <span
                            class="highlight-no-annim  white-border">la biodiversité marine</span> et ses enjeux !
                    </h3>
                    <div class="modal-container-project">
                        <div class="modal-container-img">
                            <img src="/img/modal/saveSeamulatorPresentation.jpg" alt="image du jeu saveSeamulator">
                        </div>
                        <div class="modal-container-project-info">
                            <div class="modal-container-text-paragraph">
                                <div class="text-paragraph-emojie"><img src="/svg/modalEmojie/rouage.svg"
                                        alt="Image représentant un rouage">
                                    <p class="black">Jeu vidéo </p>
                                </div>
                                <div class="text-paragraph-emojie"><img src="/svg/modalEmojie/target.svg"
                                        alt="Image représentant une cible">
                                    <p class="black">
                                        <a class="link-underline-black external-link"
                                            href="https://www.ade-mediterranee.org/" target="_blank"
                                            rel="noopener noreferrer">
                                            Association ADE Méditerranée
                                            <img src="/svg/externeBlack.svg" alt="Lien externe"
                                                class="external-icon">
                                        </a>
                                    </p>
                                </div>
                                <div class="text-paragraph-emojie"><img src="/svg/modalEmojie/guy.svg"
                                        alt="Image représentant une personne ">
                                    <p class="black">14 personnes - 11 semaines</p>
                                </div>
                            </div>

                            <div class="modal-container-text-paragraph">
                                <h4 class="h3 black">C'est quoi ?</h4>
                                <p class="black">Un serious game qui sensibilise les enfants à la protection de la
                                    biodiversité
                                    marine. Grâce à des mécaniques ludiques et immersives, les joueurs explorent l’océan
                                    et
                                    comprennent l’impact de leurs actions sur son équilibre.
                                </p>
                            </div>
                            <a href="https://saveseamulator.netlify.app/"
                                class="text-typo  btn-project btn-white-background" target="_blank">
                                <span>Découvrir le jeu</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>