        <div id="modal-scratch" class="modal" role="dialog" aria-modal="true" aria-labelledby="modal-scratch-title">
            <div class="modal-header">
                <div class="modal-header-null-object"></div>
                <h2 class="h1 black header-modal-tilte">
                    <div class="paterneTitleContainer"><span>Atelier scratch</span><span
                            class="paterneTitleContour">Atelier scratch</span></div>
                </h2><button class="btn-close" aria-label="Fermer">
                    <div class="close-line"></div>
                    <div class="close-line"></div>
                </button>
            </div>

            <div>
                <div class="project-modal modal-container">
                    <h3 id="modal-koti-fight-title" class="h2 black sub-title-modal"> Apprendre en créant <span
                            class="highlight-no-annim  white-border"> son propre jeu vidéo.</span></h3>
                    <div class="modal-container-project">
                        <div class="modal-container-img">
                            <img src="/img/modal/scratchPrésentation.jpg" alt="image de l'atelier Save Seamulator">
                        </div>
                        <div class="modal-container-project-info">
                            <div class="modal-container-text-paragraph">
                                <div class="text-paragraph-emojie"><img src="/svg/modalEmojie/rouage.svg"
                                        alt="Image représentant un rouage">
                                    <p class="black"> Atelier sur
                                        <a class="link-underline-black external-link" href="https://scratch.mit.edu"
                                            target="_blank" rel="noopener noreferrer">
                                            Scratch
                                            <img src="/svg/externeBlack.svg" alt="Lien externe"
                                                class="external-icon">
                                        </a>
                                    </p>
                                </div>
                                <div class="text-paragraph-emojie"><img src="/svg/modalEmojie/target.svg"
                                        alt="Image représentant une cible">
                                    <p class="black">
                                        <a class="link-underline-black external-link"
                                            href="https://blogpeda.ac-bordeaux.fr/collegeneruda33/2026/04/03/la-biodiversite-par-le-jeu-video/"
                                            target="_blank" rel="noopener noreferrer">
                                            Collège Pablo Neruda
                                            <img src="/svg/externeBlack.svg" alt="Lien externe"
                                                class="external-icon">
                                        </a>
                                        et
                                        <a class="link-underline-black external-link"
                                            href="https://www.museum-bordeaux.fr/agenda/vivocean-2026" target="_blank"
                                            rel="noopener noreferrer">
                                            Projet VIV'O
                                            <img src="/svg/externeBlack.svg" alt="Lien externe"
                                                class="external-icon">
                                        </a>
                                    </p>
                                </div>
                                <div class="text-paragraph-emojie"><img src="/svg/modalEmojie/guy.svg"
                                        alt="Image représentant une personne ">
                                    <p class="black">4 semaines - 45 élèves</p>
                                </div>
                            </div>


                            <div class="modal-container-text-paragraph">
                                <h4 class="h3 black">C'est quoi ?</h4>
                                <p class="black">Durant 8 heures, nous avons accompagné des jeunes dans la création d’un
                                    serious game sur la protection de la biodiversité marine. Durant plusieurs séances,
                                    ils ont réfléchi sur les mécaniques et la narration, dessiné les visuels, créé une
                                    ambiance sonore et développé leur jeu sur scratch.
                                </p>
                            </div>
                            <a href="https://scratch2026pabloneruda.netlify.app/"
                                class="text-typo  btn-project btn-white-background" target="_blank">
                                <span>Découvrir les jeux</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>