body {
    background-color: var(--backgroundColor);
}

/*CONTAINER*/
.container-width {
    width: calc(100vw - 16vw);
    margin-left: 8vw;
}

.zoom-container-center {
    display: flex;
    justify-content: center;
}

.zoom-container {   
    border-radius: 120px;
    width: 100%;
    background: #fff;
    padding: 10em 0;
    transition: transform 0.2s ease-out;
    transform-origin: center;
    transform: scaleX(0.9);
}

.text-basical-container {
    display: flex;
    gap: 10vw;
}

.text-basical-container-text {
    width: 60vw;
}

@media screen and (max-width: 960px) {
    .container-width {
        width: calc(100vw - 6vw);
        margin-left: 3vw;
    }
    .text-basical-container {
    display: flex;
    flex-direction: column;
}
.text-basical-container-text {
    width: 100%;
}

}


/* Boutton */
.btn-submit {
    background: white;
    border: none;
    border-radius: 30px;
    padding: 12px 25px;
    cursor: pointer;
    margin-top: 10px;
    transition: all 0.2s ease;
}

.btn-project {
    padding: 6px 10px;
    border-radius: 26px;
    border: 1px solid #000;
    background: #FFF;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    width: fit-content;
}

.btn-project img {
    height: 100%;
}


/*ANNIMATION HIGLIGHT*/
.highlight {
    position: relative;
    display: inline-block;
    z-index: -1;
}

.highlight::before {
    content: "";
    position: absolute;
    inset: -0.5em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    clip-path: inset(0 100% 0 0);
    transition: clip-path 1s ease-out;
}

.highlight.visible::before {
    clip-path: inset(0 0 0 0);
}

.highlight.orange::before {

    background-image: url("/src/svg/higlightType1.svg");
}

.highlight.violet::before {
    scale: 110%;
    background-image: url("/src/svg/higlightType2.svg");
}

.highlight.blue::before {
    scale: 110%;
    background-image: url("/src/svg/higlightType3.svg");
}

/*ESPACEMENT*/
.small-spacing {
    margin-top: 2rem;
}

.small-medium-spacing {
    margin-top: 6rem;
}

.medium-spacing {
    margin-top: 10rem;
}

.medium-large-spacing {
    margin-top: 14rem;
}

.large-spacing {
    margin-top: 20rem;
}

.headerSpacing {
    margin-top: calc(70px + 10vh);
}

/*EFFECT / ANNIMATION*/
.reflect {
    transform: scaleX(-1);
}


.logo-spin {
    display: block;
    transition: transform 0.5s ease;
}

.logo-spin:hover {
    transform: rotate(720deg);
}

.logo-jump {
    display: block;
    transition: transform 0.5s ease;
}

.logo-jump.animate {
    animation: jump 0.6s ease;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(0);
    }

    70% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}


/* CONTACT */



.contact {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-container {
    display: flex;
    flex-direction: column;

    text-align: center;
    width: 100%;
    max-width: 60rem;
}

form fieldset {
    border: none;
    margin-bottom: 15px;
    padding: 0;
}

.form-group-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    border: none;
    padding: 0;
}

#contactForm {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

label {
    font-size: 0.9rem;
    margin-bottom: 4px;
}

input,
textarea {
    padding: 10px;
    border: 1px solid #999;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
}

textarea {
    resize: vertical;
}

@media screen and (max-width: 960px) {
    .form-group-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        border: none;
        padding: 0;
    }
}


/* Animation de la lettre */
#animation {
    text-align: center;
    margin-top: 50px;
}

.envelope {
    position: relative;
    width: 100px;
    height: 60px;
    margin: 0 auto 20px;
    background: #f5f5f5;
    border: 2px solid #333;
    border-radius: 5px;
    overflow: hidden;
}

.letter {
    position: absolute;
    width: 80px;
    height: 50px;
    background: #fff;
    top: 5px;
    left: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    transform: translateY(0);
    animation: fly 10s forwards;
}

@keyframes fly {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }

    50% {
        transform: translateY(-150px) rotate(-15deg);
        opacity: 0.8;
    }

    100% {
        transform: translateY(-300px) rotate(-30deg);
        opacity: 1;
    }
}

.test {
  background-image: url(/src/svg/bluepatern.svg);
  background-size: auto;
  background-repeat: repeat;
  background-position: center;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  
}
