body {
    background-color: var(--backgroundColor);
}

/*CONTAINER*/
.container-width {
    width: calc(100vw - 16vw);
    margin-left: 8vw;
}

.white-container {
    border-radius: 120px;
    background: #FDFDFD;
}


/*ANNIMATION HIGLIGHT*/
.highlight {
    position: relative;
    display: inline-block;
    z-index: -1;
}

.highlight::before {
    content: "";
    position: absolute;
    inset: -0.5em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    clip-path: inset(0 100% 0 0);
    transition: clip-path 1s ease-out;
}

.highlight.visible::before {
    clip-path: inset(0 0 0 0);
}

.highlight.orange::before {

    background-image: url("/src/svg/higlightType1.svg");
}

.highlight.violet::before {
    scale: 110%;
    background-image: url("/src/svg/higlightType2.svg");
}

.highlight.blue::before {
    scale: 110%;
    background-image: url("/src/svg/higlightType3.svg");
}

/*ESPACEMENT*/
.text-spacing {
    margin-top: 2rem;
}
.footer-spacing{
   margin-top: 6rem; 
}
.block-spacing {
    margin-top: 16rem;
}

.headerSpacing {
    margin-top: calc(70px + 10vh);
}

/*EFFECT / ANNIMATION*/
.reflect{
  transform: scaleX(-1);
}


.logo-spin {
    display: block;
    transition: transform 0.5s ease;
}

.logo-spin:hover {
    transform: rotate(720deg);
}

.logo-jump {
  display: block;
  transition: transform 0.5s ease;
}

.logo-jump.animate {
  animation: jump 0.6s ease;
}

@keyframes jump {
  0%   { transform: translateY(0); }
  30%  { transform: translateY(-10px); }
  50%  { transform: translateY(0); }
  70%  { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}


/* BTN */

.btn-project{
    display: flex;
    align-items: center;
    gap: 6px;
}

.btn-project img{
height: 100%;
}
