.h1 {
  color: white;
  font-family: "Titan One";
  font-size: 4rem;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}

.h2 {
  color: white;
  font-family: "Titan One";
  font-size: 2rem;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}

.h3 {
  color: white;
  font-family: "Titan One";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}


p,
.header-typo-pc,
.text-typo {
  color: white;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 100;
  line-height: 1rem;
}

.header-typo-pc {
  font-size: 0.8rem;
  color: white;
  font-family: Poppins;
  font-style: normal;
  font-weight: 100;
  line-height: 0.8rem;
}

input,
textarea {
  font-family: Poppins;
  font-size: 0.85rem;
  font-style: normal;
  font-weight: 100;
}

.header-typo-pc {
  color: white;
}

.footerTitle {
  color: white;
  font-family: "Titan One";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}

header p {
  color: white;
}

.black {
  color: black;
}

.paterneTitleContainer {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.paterneTitleContour {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  text-shadow:
    1px 0 #fff, -1px 0 #fff,
    0 1px #fff, 0 -1px #fff,
    1px 1px #fff, -1px -1px #fff,
    1px -1px #fff, -1px 1px #fff,
    2px 0 #fff, -2px 0 #fff,
    0 2px #fff, 0 -2px #fff,
    2px 2px #fff, -2px -2px #fff,
    2px -2px #fff, -2px 2px #fff,
    3px 0 #fff, -3px 0 #fff,
    0 3px #fff, 0 -3px #fff,
    3px 3px #fff, -3px -3px #fff,
    3px -3px #fff, -3px 3px #fff;
  z-index: 1;
  user-select: none;
  pointer-events: none;
}

.paterneTitle {
  position: relative;
  background-image: url(/src/svg/bluepaternFull.svg);
  background-size: auto;
  background-repeat: repeat;
  background-position: center;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  z-index: 2;
  text-shadow: none;
}



.white-border {
  text-shadow:
    1px 0 #fff, -1px 0 #fff,
    0 1px #fff, 0 -1px #fff,
    1px 1px #fff, -1px -1px #fff,
    1px -1px #fff, -1px 1px #fff,
    2px 0 #fff, -2px 0 #fff,
    0 2px #fff, 0 -2px #fff,
    2px 2px #fff, -2px -2px #fff,
    2px -2px #fff, -2px 2px #fff,
    3px 0 #fff, -3px 0 #fff,
    0 3px #fff, 0 -3px #fff,
    3px 3px #fff, -3px -3px #fff,
    3px -3px #fff, -3px 3px #fff;
}

b {
  font-weight: bold;
}

html {
  font-size: 13px;
}

/* Tablette ≥ 768px */
@media (min-width: 768px) and (max-width: 1199px) {
  html {
    font-size: 14px;
  }

  .h1 {
    font-size: 5rem;
  }

  .h2 {
    font-size: 2rem;
  }
}

/* Desktop ≥ 1200px et < 1600px */
@media (min-width: 1200px) and (max-width: 1599px) {
  html {
    font-size: 16px;
  }

  .h1 {
    font-size: 5rem;
  }

  .h2 {
    font-size: 2rem;
  }
}

/* Large desktop ≥ 1600px et < 1900px */
@media (min-width: 1600px) and (max-width: 1899px) {
  html {
    font-size: 17px;
  }
}

/* Ultra large ≥ 1900px */
@media (min-width: 1900px) {
  html {
    font-size: 18px;
  }
  body{
    background-color: black
  }
}