.h1 {
  color: white;
  font-family: "Titan One";
  font-size: 6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h2, .h2{
  color: white;
  font-family: "Titan One";
  font-size: 2.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h3, .h3 {
  color: white;
  font-family: "Titan One";
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


p, .header-typo-pc, .text-typo {
  color: white;
  font-family: Poppins;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.125rem;
}
input, textarea{
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}

.header-typo-pc {
  color: black;
}

.footerTitle {
  color: white;
  font-family: "Titan One";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

header p {
  color: black;
}

.black{
  color: black;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}