.card-info-container-ressource img {
    aspect-ratio: 450/280;
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block; 
}

.card-info-container-ressource .card-info-container-text {
    gap: 40px;
    padding: 30px;
}

